.form1 .title-bg {
  background-color: #f3f4f4;
  border-bottom: solid 1px #c9cfcf;
}
.form1 .title-bg img {
  float: right;
  width: 100%;
  max-width: 200px;
  padding-top: 30px;
}
.form1 .form-title h3 {
  color: #ce1343;
}
.form1 .acknowledge {
  font-weight: 700;
}
.form1 .detail input {
  border: none;
  border-bottom: solid 2px #5e5e5d;
  border-radius: 0px;
  width: 240px;
  background-color: #f1f4ff;
}
.form1 .detail input:focus {
  border-color: #5e5e5d;
  box-shadow: none;
  background-color:transparent;
}
.form1 .footer p {
  border-bottom: solid 1px #eaebeb;
  padding-bottom: 15px;
}
.form1 .footer {
  padding-top: 10%;
}
.form1 .footer ul {
  list-style: none;
}
.form1 .footer li {
  padding: 5px;
  float: left;
}
.form1 .left-side li:first-child {
  border-right: solid 1px red;
}
.form1 #formBasicSign {
  width: 285px;
  margin: 0;
}
.form1 #formBasicText {
  border: none;
  border-bottom: solid 1px;
  border-radius: 0;
}
.form1 #formBasicText:focus {
  box-shadow: none;
}
#sign-location{
  overflow:visible;
  position:absolute;
}
body{
  background-color:white;
}
#contract-area{
  border-radius:5px;
  margin:10px;
  padding:10px;
background:antiquewhite;
width:100%;
  height:200px;
  overflow-y:scroll;
}
.signature-container{
  border-radius:5px;
  margin:10px;
  padding:10px;
  background-color:darkgrey;
width:100%;
}
.signature-input-wrapper{
  border: 1px solid black;
  margin: 0 auto;
  padding: 5px auto;  
}
.signature-input{
  transition: 1s all ease-in-out;
  background-color:rgba(255,255,255,.2);
  width:100%;
}
.signature-input:hover {
    background-color:rgba(255,255,255,.7)
  }
.signature-button-wrapper{
  display:block;
}
.draw-modal canvas {
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
  margin-top:10px;
}
.nav.nav-tabs.nav-fill{
  margin-left: 32px;
  margin-right: 32px;
}
.toggle-field.form-control {
  margin-top: 10px !important;
  width: 350px;
  margin-left:30px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color:red !important;
}
.nav-tabs a{
  color:#212529  !important;
}
#font-picker .dropdown-button{
  width: auto;
  margin-top:10px;
  border-radius: .25rem;
  margin-left: 8px;
  height: calc(1.5em + .75rem + 2px);
  position: fixed;
}
#font-picker{
  box-shadow:none;
}
.sign-field{
  border-bottom: solid 2px #5e5e5d;
  margin-top: 11%;
  width: 86%;
}
.form1{ padding-bottom:100px ;}
.bottomBar {
  background: #eaebeb;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.downloadBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.send-btn{
  background-color: transparent;
}
.clipboard{
  cursor: pointer;
}
.signature {
  margin-top: -47px;
  width: 244px;
  text-align: center;
}
.form-inline {
  padding-left: 0;
  margin-bottom: 0;
}
.form-inline li {
  display: inline;
  margin-bottom: 20px;
}
.view-form a {
  color: #000000;
}
.view-form:hover {
  background-color: #bbbcbc !important;
  border: 1px solid #8d8989 !important;
}
.view-form:hover a,
.cf-black:hover a{
  color: #ffffff !important;
}
.cf-black:hover{
  background-color: #bbbcbc;
  border: 1px solid #8d8989 !important;
}
.cf-black {
  border-color: #000000;
  color: #000000;
}
.dotaction .dropdown-toggle::after {
  opacity: 0;
}

@media (min-width: 1200px) {
  .form1.container {
    max-width: 1024px;
  }
  .form1-logo {
    width: 100%;
    max-width: 216px;
    float: right;
}
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .form1 .detail input {
    width: 250px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .form1 .detail input {
    width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .form1 .detail input {
    width: 200px;
  }
  .form1-logo{
    width: 100%;
    max-width: 200px;
    margin-left: 105px;
  }

}
@media (min-width: 576px) and (max-width: 768px) {
  .form1-logo{  
    display: flex;
    margin: auto;
    max-width: 196px;
  }
  .form1 #formBasicSign{
    width: 204px;
  }
  .form1 .footer h6 {
    display: flex;
    justify-content: center;
}
}
/* Additional css  */
.send:hover{
  background-color: #bbbcbc !important;
  border: 1px solid #8d8989 !important;
  color:#fff !important;
}
@media (min-width: 420px) and (max-width: 576px) {
  .form1 .form-title h1 {
    font-size: 28px;
  }
  .form1 .form-title h3 {
    font-size: 24px;
  }
  .form1 .detail input {
    width: 350px;
  }
  .form1 #formBasicSign {
    width: 400px;
}
.form1 .footer ul {
  padding:0;
}
}
@media (min-width: 360px) and (max-width: 420px) {
  .form1 .footer p,
  li {
    font-size: 14px;
  }
  .form1 .form-title h1,
  h3 {
    font-size: 20px;
  }
  .form1 .resource-title {
    text-align: center;
  }
  .form1 .title-bg img {
    max-width: 150px;
    display: flex;
    margin: auto;
    float: none;
  }
  .form1 .form-title {
    text-align: center;
  }
  .form1 .detail {
    padding: 15px;
  }
  .form1 .input-head {
    font-size: 14px !important;
  }
  .form1 #formBasicSign {
    width: 360px;
}
.form1-logo {
  width: 100%;
  max-width: 180px;
  display: flex;
  margin: auto;
}
.form1 .footer ul {
  padding:0;
}
}
@media (max-width:360px){
  .form1 #formBasicSign {
    width: 301px;
}
.form1 .footer ul {
  padding:0;
}
.draw-modal canvas{
  width:276px;
}
}