$black: #000;
$white: #fff;

$success:#42C758;
$error: #F43D30;
$info: #307AFE;
$warning: #ffcc00;

$gray: #C7C7C7;
$disabled: #747474;

// $primaryColor : #F4BE43;
// $secondaryColor : #F4BE43;
$primaryColor :#008489;
$secondaryColor :#ed6264;

// fonts
// $primaryFont: 'Helvetica',sans-serif;
// $secondaryFont: 'SFProDisplayBold', sans-serif;