 
.form3 span{
    font-weight:700;
}
.form3 .title-bg{
    background-color:#f3f4f4;
    border-bottom: solid 1px #c9cfcf;
}
.form3 .title-bg img{
    float: right;
    width: 100%;
    max-width: 200px;
    padding-top: 30px;
}
.form3 .form-title h3{
        color:#ce1343;
}
.form3 .acknowledge{
    font-weight: 700;
}
.form3 .detail input {
    border: none;
    border-bottom: solid 2px #5e5e5d;
    border-radius: 0px;
    width: 240px;
    background-color:#f1f4ff;
}
.form3 .detail input:focus{
    border-color:#5e5e5d;
    box-shadow:none;
    background-color:transparent;
}
.form3 .footer p{
    border-bottom:solid 1px #eaebeb;
    padding-bottom: 15px;
}
.form3 .footer {
    padding-top:10%;
}
.form3 .footer ul{
    list-style:none;
}
.form3 .footer li{
    padding:5px;
    float:left;
}
.form3 .left-side li:first-child {
        border-right:solid 1px red;
}
.form3 .card-text{
    font-size:14px;
}
.form3 .card{
    background-color:#f8f8f8;
}
.form3 .question-title span{
   color:#c81c1c;
}
.form3 .detail .form-control{
    width: 100%;
    margin-left: 15px;
    border: none;
    border-bottom: solid 1px;
    border-radius: 0px;
    max-width: 300px;
}
/* Responsive design with media queries */

@media (max-width:1200px){}
@media (min-width: 1200px){
    .form3.container {
    max-width: 1024px;
}
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .form3 .detail input {
        width: 250px;
    }
  }
@media (min-width: 992px) and (max-width: 1024px) { 
    .form3 .detail input {
        width: 250px;
    }
 }
@media (min-width: 768px) and (max-width: 992px) {
    .form3 .detail input {
        width: 200px;
    }
 }
@media (min-width: 576px) and (max-width: 768px) { 
    .form3 .title-bg img {
        max-width:150px;
        display: flex;
        margin:auto;
        float:none;
    }
    .form3 .form-title h2 {
        font-size: 27px;
    }
    
 }
@media (min-width: 420px) and (max-width: 576px) {  
    .form3  .form-title h1 {
        font-size: 28px;
    }
    .form3 .form-title h2,h3{
        font-size: 24px;
    }
    .form3  .detail input{
        width:350px;
    }
    .form3  .form-title h2,h3{
        text-align: center;
    }
    .logo, .resource-title{
        display:flex;
        margin:auto;
        justify-content: center;
    }
    .form-title h1,h3{
        text-align:center;
    }
    .form3 .detail .form-control {
        max-width:400px;
    }
}
@media (min-width: 360px) and (max-width: 420px) { 
    .form3  .footer p,li{
    font-size: 14px;
 }
 .form3.form-title h1,h3{
     font-size:20px;
 }
 .form3 .resource-title{
     text-align:center;
 } 
 .form3 .title-bg img {
     max-width:150px;
     display: flex;
     margin:auto;
     float:none;
 }
 .form3 .form-title{
     text-align: center;
 }
 .form3 .detail{
     padding:15px;
 }
 .form3 .input-head {
    font-size: 14px !important;
}
.form3 .detail .form-control{
    margin:0px;
}
.form3 .input-head{
    padding: 0 !important;
}
.logo{
    width:100% !important;
    max-width:180px  !important;
    display: flex;
    justify-content: center;
    margin: auto;
}
.form3 .form-title h1{
    font-size:25px;
}
}